In [1]:
import pandas as pd

In [24]:
import graphlab as gl

In [3]:
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']

In [4]:
users = pd.read_csv('u.user',sep = '|',names = u_cols, encoding = 'latin-1')

In [5]:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']

In [6]:
ratings = pd.read_csv('u.data', sep = '\t', names = r_cols, encoding = 'latin-1')

In [7]:
i_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
 'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

In [8]:
items = pd.read_csv('u.item',sep = '|', names = i_cols, encoding = 'latin-1')

In [9]:
users.shape

(943, 5)

In [10]:
users.head()

   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043
2        3   23   M      writer    32067
3        4   24   M  technician    43537
4        5   33   F       other    15213

In [11]:
ratings.shape

(100000, 4)

In [12]:
items.shape

(1682, 24)

In [13]:
items.head()

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [14]:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings_base = pd.read_csv('ua.base', sep='\t', names=r_cols, encoding='latin-1')
ratings_test = pd.read_csv('ua.test', sep='\t', names=r_cols, encoding='latin-1')
ratings_base.shape, ratings_test.shape

((90570, 4), (9430, 4))

In [15]:
train_data = gl.SFrame(ratings_base)

This non-commercial license of GraphLab Create for academic use is assigned to 1405143@kiit.ac.in and will expire on November 01, 2018.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1509545746.log

In [16]:
train_data

Columns:
	user_id	int
	movie_id	int
	rating	int
	unix_timestamp	int

Rows: 90570

Data:
+---------+----------+--------+----------------+
| user_id | movie_id | rating | unix_timestamp |
+---------+----------+--------+----------------+
|    1    |    1     |   5    |   874965758    |
|    1    |    2     |   3    |   876893171    |
|    1    |    3     |   4    |   878542960    |
|    1    |    4     |   3    |   876893119    |
|    1    |    5     |   3    |   889751712    |
|    1    |    6     |   5    |   887431973    |
|    1    |    7     |   4    |   875071561    |
|    1    |    8     |   1    |   875072484    |
|    1    |    9     |   5    |   878543541    |
|    1    |    10    |   3    |   875693118    |
+---------+----------+--------+----------------+
[90570 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [17]:
test_data = gl.SFrame(ratings_test)

In [18]:
test_data

Columns:
	user_id	int
	movie_id	int
	rating	int
	unix_timestamp	int

Rows: 9430

Data:
+---------+----------+--------+----------------+
| user_id | movie_id | rating | unix_timestamp |
+---------+----------+--------+----------------+
|    1    |    20    |   4    |   887431883    |
|    1    |    33    |   4    |   878542699    |
|    1    |    61    |   4    |   878542420    |
|    1    |   117    |   3    |   874965739    |
|    1    |   155    |   2    |   878542201    |
|    1    |   160    |   4    |   875072547    |
|    1    |   171    |   5    |   889751711    |
|    1    |   189    |   3    |   888732928    |
|    1    |   202    |   5    |   875072442    |
|    1    |   265    |   4    |   878542441    |
+---------+----------+--------+----------------+
[9430 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [31]:
popularity_model = gl.popularity_recommender.create(train_data,user_id= 'user_id', item_id= 'movie_id',target = 'rating')

Recsys training: model = popularity

Warning: Ignoring columns unix_timestamp;

    To use these columns in scoring predictions, use a model that allows the use of additional features.

Preparing data set.

    Data has 90570 observations with 943 users and 1680 items.

    Data prepared in: 0.126237s

90570 observations to process; with 1680 unique items.

In [34]:
popularity_recomm = popularity_model.recommend(users= range(1,6), k = 5)

In [35]:
popularity_recomm.print_rows(num_rows = 25)

+---------+----------+-------+------+
| user_id | movie_id | score | rank |
+---------+----------+-------+------+
|    1    |   1293   |  5.0  |  1   |
|    1    |   1201   |  5.0  |  2   |
|    1    |   1189   |  5.0  |  3   |
|    1    |   1122   |  5.0  |  4   |
|    1    |   814    |  5.0  |  5   |
|    2    |   1293   |  5.0  |  1   |
|    2    |   1201   |  5.0  |  2   |
|    2    |   1189   |  5.0  |  3   |
|    2    |   1122   |  5.0  |  4   |
|    2    |   814    |  5.0  |  5   |
|    3    |   1293   |  5.0  |  1   |
|    3    |   1201   |  5.0  |  2   |
|    3    |   1189   |  5.0  |  3   |
|    3    |   1122   |  5.0  |  4   |
|    3    |   814    |  5.0  |  5   |
|    4    |   1293   |  5.0  |  1   |
|    4    |   1201   |  5.0  |  2   |
|    4    |   1189   |  5.0  |  3   |
|    4    |   1122   |  5.0  |  4   |
|    4    |   814    |  5.0  |  5   |
|    5    |   1293   |  5.0  |  1   |
|    5    |   1201   |  5.0  |  2   |
|    5    |   1189   |  5.0  |  3   |
|    5    |   1122   |  5.0  |  4   |
|    5    |   814    |  5.0  |  5   |
+---------+----------+-------+------+
[25 rows x 4 columns]

In [36]:
ratings_base.groupby(by = 'movie_id')['rating'].mean().sort_values(ascending = False).head()

movie_id
1500    5.0
1293    5.0
1122    5.0
1189    5.0
1656    5.0
Name: rating, dtype: float64

In [37]:
#Train Model
item_sim_model = gl.item_similarity_recommender.create(train_data, user_id='user_id', item_id='movie_id', target='rating', similarity_type='pearson')

#Make Recommendations:
item_sim_recomm = item_sim_model.recommend(users=range(1,6),k=5)
item_sim_recomm.print_rows(num_rows=25)

Recsys training: model = item_similarity

Warning: Ignoring columns unix_timestamp;

    To use these columns in scoring predictions, use a model that allows the use of additional features.

Preparing data set.

    Data has 90570 observations with 943 users and 1680 items.

    Data prepared in: 0.115304s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 24.103ms                       | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 29.036ms                            | 0.25             | 6               |

| 367.459ms                           | 100              | 1680            |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 0.386964s

+---------+----------+-------+------+
| user_id | movie_id | score | rank |
+---------+----------+-------+------+
|    1    |   1467   |  5.0  |  1   |
|    1    |   1201   |  5.0  |  2   |
|    1    |   1189   |  5.0  |  3   |
|    1    |   1122   |  5.0  |  4   |
|    1    |   814    |  5.0  |  5   |
|    2    |   1467   |  5.0  |  1   |
|    2    |   1201   |  5.0  |  2   |
|    2    |   1189   |  5.0  |  3   |
|    2    |   1122   |  5.0  |  4   |
|    2    |   814    |  5.0  |  5   |
|    3    |   1467   |  5.0  |  1   |
|    3    |   1201   |  5.0  |  2   |
|    3    |   1189   |  5.0  |  3   |
|    3    |   1122   |  5.0  |  4   |
|    3    |   814    |  5.0  |  5   |
|    4    |   1467   |  5.0  |  1   |
|    4    |   1201   |  5.0  |  2   |
|    4    |   1189   |  5.0  |  3   |
|    4    |   1122   |  5.0  |  4   |
|    4    |   814    |  5.0  |  5   |
|    5    |   1467   |  5.0  |  1   |
|    5    |   1201   |  5.0  |  2   |
|    5    |   1189   |  5.0  |  3   |
|    5    |   1122   |  5.0  |  4   |
|    5    |   814    |  5.0  |  5   |
+---------+----------+-------+------+
[25 rows x 4 columns]

In [39]:
model_performance = gl.compare(test_data, [popularity_model, item_sim_model])
gl.show_comparison(model_performance,[popularity_model, item_sim_model])

PROGRESS: Evaluate model M0

Precision and recall summary statistics by cutoff
+--------+-------------------+-------------------+
| cutoff |   mean_precision  |    mean_recall    |
+--------+-------------------+-------------------+
|   1    |  0.00106044538706 | 0.000106044538706 |
|   2    | 0.000530222693531 | 0.000106044538706 |
|   3    | 0.000353481795688 | 0.000106044538706 |
|   4    | 0.000265111346766 | 0.000106044538706 |
|   5    | 0.000212089077413 | 0.000106044538706 |
|   6    | 0.000353481795688 | 0.000212089077413 |
|   7    | 0.000302984396304 | 0.000212089077413 |
|   8    | 0.000265111346766 | 0.000212089077413 |
|   9    | 0.000235654530458 | 0.000212089077413 |
|   10   | 0.000212089077413 | 0.000212089077413 |
+--------+-------------------+-------------------+
[10 rows x 3 columns]

PROGRESS: Evaluate model M1

Precision and recall summary statistics by cutoff
+--------+-------------------+-------------------+
| cutoff |   mean_precision  |    mean_recall    |
+--------+-------------------+-------------------+
|   1    |        0.0        |        0.0        |
|   2    |        0.0        |        0.0        |
|   3    | 0.000353481795688 | 0.000106044538706 |
|   4    | 0.000265111346766 | 0.000106044538706 |
|   5    | 0.000212089077413 | 0.000106044538706 |
|   6    | 0.000176740897844 | 0.000106044538706 |
|   7    | 0.000302984396304 | 0.000212089077413 |
|   8    | 0.000265111346766 | 0.000212089077413 |
|   9    | 0.000235654530458 | 0.000212089077413 |
|   10   | 0.000212089077413 | 0.000212089077413 |
+--------+-------------------+-------------------+
[10 rows x 3 columns]

Model compare metric: precision_recall
Canvas is updated and available in a tab in the default browser.